<li><a href="abc.com" target="_blank">test</a></li>
<li><a href="abc.com" target="_blank">abc.com</a></li>
<li><a href="abc.com" target="_blank">abc.com</a></li>
<li><a href="abc.com" target="_blank">abc.com</a></li>