<footer>
    <div id="bottom_nav">
        <div class="row-fluid" style="width:1024px;margin:0 auto">
            <div class="span2 offset1 " style="text-align:left;">
                <h5 style="padding-left:24px;">关于我们</h5>
                <ul>
                    <li><a href="http://www.abc.com/About/Ck1.aspx">公司简介</a></li>
                    <li><a href="http://www.abc.com/About/Media.aspx">媒体报道</a></li>
                    <li><a href="http://www.abc.com/About/Jobs.aspx">人才招聘</a></li>
                    <li><a href="http://www.abc.com/About/Contact.aspx">联系我们</a></li>
                </ul>
            </div>
            <div class="span2" style="text-align:left;">
                <h5 style="padding-left:24px;">产品介绍</h5>
                <ul>
                    <li><a href="http://www.abc.com/Logistics.aspx?id=7">海外仓储</a></li>
                    <li><a href="http://www.abc.com/Logistics.aspx?id=65">国际专线</a></li>
                    <li><a href="http://www.abc.com/Logistics.aspx?id=74">邮政小包</a></li>
                    <li><a href="http://www.abc.com/Logistics.aspx?id=74">商业快递</a></li>
                    <li><a href="http://www.abc.com/Logistics.aspx?id=12">更多…</a></li>
                </ul>

            </div>
            <div class="span2" style="text-align:left;">
                <h5 style="padding-left:24px;">供销平台M2C</h5>
                <ul>
                    <li><a href="http://www.ck1m2c.com/">关于M2C</a></li>
                    <li><a href="http://www.ck1m2c.com/">加入M2C</a></li>
                    <li><a href="http://www.abc.com/m2c_mall.aspx">联系我们</a></li>
                </ul>
            </div>
            <div class="span2" style="text-align:left;">
                <h5 style="padding-left:24px;">增值服务</h5>
                <ul>
                    <li><a href="http://www.abc.com/Value-added.aspx?id=59">Sellinghelper</a></li>
                    <li><a href="http://www.abc.com/Value-added.aspx?id=62">API对接</a></li>
                  <!--<li><a href="http://www.abc.com/Value-added.aspx?id=98">出口贷</a></li>-->
                    <li><a href="http://www.abc.com/Value-added.aspx?id=64">VAT服务</a></li>
                    <li><a href="http://www.abc.com/Value-added.aspx?id=53">更多…</a></li>
                </ul>
            </div>
            <div class="span2" style="text-align:left;">
                <h5 style="padding-left:24px;">帮助中心</h5>
                <ul>
                    <li><a href="http://www.abc.com/Tool/NewShipping.aspx">价格查询</a></li>
                    <li><a href="http://www.ec-firstclass.org/">包裹查询</a></li>
                    <li><a href="http://www.abc.com/Help/Help_Questions.aspx">常见问题</a></li>
                    <li><a href="http://www.abc.com/content/QQConsultation.aspx">在线咨询</a></li>
                </ul>
            </div>
            <div class="span1"></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10 offset1" style="border-top:1px solid lightgrey">
            <p>
                © 2015 BFE. All rights reserved. <a target="_blank" href="http://www.miitbeian.gov.cn">粤ICP备14013317号</a> <a style="margin-left:10px;" href="/Privacy.aspx">隐私政策</a>
                <br>
                总部地址：广州市天河区黄埔大道西163号富星大厦东塔6楼&8楼&26楼
            </p>
        </div>
    </div>
</footer>      