@using Portal.Client.Core
@{
    ViewBag.Title = PageUtility.GetMenuName(ViewContext.RouteData, "权限验证");
    Layout = PageUtility.GetLayout;
}
<div class="row-fluid">
    <div class="error-container">
        <div class="well">
            <h1 class="grey lighter smaller">
                <span class="blue bigger-125"><i class="ace-icon glyphicon glyphicon-sitemap"></i>Error</span>请联系系统管理员，检查您的权限
            </h1>
            <hr />
            <h3 class="lighter smaller">
                对不起，您没有防问此页面的权限！
            </h3>
            <hr />
            <div class="space">
            </div>
        </div>
    </div>
</div>