<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.2" targetFramework="net45" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" />
  <package id="elmah.mongodb.driver" version="1.4" targetFramework="net45" />
  <package id="elmah.sqlservercompact" version="1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.zh-Hans" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor.zh-Hans" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.zh-Hans" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="mongocsharpdriver" version="2.1.1" targetFramework="net45" />
  <package id="MongoDB.Bson" version="2.1.1" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.1.1" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.1.1" targetFramework="net45" />
  <package id="SqlServerCompact" version="4.0.8854.1" targetFramework="net45" />
</packages>