<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    <root>
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..//log/error.txt" />
      <param name="AppendToFile" value="true" />
      <param name="MaximumFileSize" value="2048KB" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="DatePattern" value="yyyy-MM-dd HH-mm" />
      <param name="RollingStyle" value="Size" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d] [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
  </log4net>
  <connectionStrings>
    <add name="PortalDB" connectionString="mongodb://ismc-mongodb-master.chukou1.cn:27017/portaldb-test" />
    <add name="StoreHouse" connectionString="server=db.chukou1.cn;uid=store;pwd=BFE.dev.2011;database=store_xinye20120921;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="PortalDBName" value="portaldb-test"/>
    <!--业务后端系统的ApplicationId-->
    <add key="YEWU_ApplicationId" value="55da945d7ff79d067c7d364e"/>
    <!--业务前端系统的ApplicationId-->
    <add key="YEWU_Client_ApplicationId" value="55e015777ff79b13d0342e4d"/>
    <!--客户默认的角色，多个以‘,’隔开-->
    <add key="CustomerRole" value="CustomerDefaultRole"/>
    <!--员工默认的角色，多个以‘,’隔开-->
    <add key="EmployeeRole" value="EmployeeDefaultRole"/>
  </appSettings>
</configuration>
