<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="request" type="Microsoft.Practices.Unity.PerRequestLifetimeManager, Microsoft.Practices.Unity.Mvc" />

  <!--注册类型别名-->
  <alias alias="IJson" type="Framework.Infrastructure.Crosscutting.Json.IJson, Framework.Infrastructure.Crosscutting" />
  <alias alias="ServiceStackTextJson" type="Framework.Infrastructure.Json.ServiceStackTextJson, Framework.Infrastructure.Json.ServiceStackText" />

  <alias alias="ILog" type="Framework.Infrastructure.Crosscutting.Logging.ILog, Framework.Infrastructure.Crosscutting" />
  <alias alias="Log4NetLog" type="Framework.Infrastructure.Logging.Log4NetLog, Framework.Infrastructure.Logging.log4net" />

  <alias alias="ICache" type="Framework.Infrastructure.Crosscutting.Caching.ICache, Framework.Infrastructure.Crosscutting" />
  <alias alias="MemcachedCache" type="Framework.Infrastructure.Caching.Memcached.MemcachedCache, Framework.Infrastructure.Caching.Memcached" />

  <alias alias="ITypeAdapter" type="Framework.Infrastructure.Crosscutting.Adapter.ITypeAdapter, Framework.Infrastructure.Crosscutting" />
  <alias alias="AutomapperTypeAdapter" type="Framework.Infrastructure.Adapter.AutoMapper.AutomapperTypeAdapter, Framework.Infrastructure.Adapter.AutoMapper" />

  <alias alias="IEventBus" type="Framework.Infrastructure.Crosscutting.Events.IEventBus, Framework.Infrastructure.Crosscutting" />
  <alias alias="DefaultEventBus" type="Framework.Infrastructure.Crosscutting.Events.DefaultEventBus, Framework.Infrastructure.Crosscutting" />

  <alias alias="IEventAggregator" type="Framework.Infrastructure.Crosscutting.Events.IEventAggregator, Framework.Infrastructure.Crosscutting" />
  <alias alias="EventAggregator" type="Framework.Infrastructure.Crosscutting.Events.EventAggregator, Framework.Infrastructure.Crosscutting" />

  <alias alias="IIdentityGenerator" type="Framework.Domain.Core.IIdentityGenerator, Framework.Domain.Core" />
  <alias alias="MongoDBStringObjectIdGenerator" type="Framework.Infrastructure.Data.MongoDB.MongoDBStringObjectIdGenerator, Framework.Infrastructure.Data.MongoDB" />

  <alias alias="IRepositoryContext" type="Framework.Domain.Core.IRepositoryContext, Framework.Domain.Core" />
  <alias alias="MongoDBRepositoryContext" type="Framework.Infrastructure.Data.MongoDB.MongoDBRepositoryContext, Framework.Infrastructure.Data.MongoDB" />
  <alias alias="IMongoDBRepositoryContext" type="Framework.Infrastructure.Data.MongoDB.IMongoDBRepositoryContext, Framework.Infrastructure.Data.MongoDB" />

  <alias alias="IMapping" type="Framework.Domain.Core.IMapping, Framework.Domain.Core" />
  <alias alias="Mapping" type="Portal.Infrastructure.Data.MongoDB.Repository.Mapping, Portal.Infrastructure.Data.MongoDB.Repository" />


  <!-- 仓储 -->
  <alias alias="IApiUserRepository" type="Portal.Domain.Repositories.IApiUserRepository, Portal.Domain" />
  <alias alias="ApiUserRepository" type="Portal.Infrastructure.Data.MongoDB.Repository.ApiUserRepository, Portal.Infrastructure.Data.MongoDB.Repository" />

  <alias alias="IApplicationRepository" type="Portal.Domain.Repositories.IApplicationRepository, Portal.Domain" />
  <alias alias="ApplicationRepository" type="Portal.Infrastructure.Data.MongoDB.Repository.ApplicationRepository, Portal.Infrastructure.Data.MongoDB.Repository" />

  <alias alias="IMenuRepository" type="Portal.Domain.Repositories.IMenuRepository, Portal.Domain" />
  <alias alias="MenuRepository" type="Portal.Infrastructure.Data.MongoDB.Repository.MenuRepository, Portal.Infrastructure.Data.MongoDB.Repository" />

  <alias alias="IPermissionRepository" type="Portal.Domain.Repositories.IPermissionRepository, Portal.Domain" />
  <alias alias="PermissionRepository" type="Portal.Infrastructure.Data.MongoDB.Repository.PermissionRepository, Portal.Infrastructure.Data.MongoDB.Repository" />

  <alias alias="IRoleRepository" type="Portal.Domain.Repositories.IRoleRepository, Portal.Domain" />
  <alias alias="RoleRepository" type="Portal.Infrastructure.Data.MongoDB.Repository.RoleRepository, Portal.Infrastructure.Data.MongoDB.Repository" />

  <alias alias="IUserRepository" type="Portal.Domain.Repositories.IUserRepository, Portal.Domain" />
  <alias alias="UserRepository" type="Portal.Infrastructure.Data.MongoDB.Repository.UserRepository, Portal.Infrastructure.Data.MongoDB.Repository" />

  <alias alias="ISynchronizationInfoRepository" type="Portal.Domain.Repositories.ISynchronizationInfoRepository, Portal.Domain" />
  <alias alias="SynchronizationInfoRepository" type="Portal.Infrastructure.Data.MongoDB.Repository.SynchronizationInfoRepository, Portal.Infrastructure.Data.MongoDB.Repository" />

  <alias alias="ITokenWrapperRepository" type="Portal.Domain.Repositories.ITokenWrapperRepository, Portal.Domain" />
  <alias alias="TokenWrapperRepository" type="Portal.Infrastructure.Data.MongoDB.Repository.TokenWrapperRepository, Portal.Infrastructure.Data.MongoDB.Repository" />

  <alias alias="IAuthorizationCodeRepository" type="Portal.Domain.Repositories.IAuthorizationCodeRepository, Portal.Domain" />
  <alias alias="AuthorizationCodeRepository" type="Portal.Infrastructure.Data.MongoDB.Repository.AuthorizationCodeRepository, Portal.Infrastructure.Data.MongoDB.Repository" />

  <alias alias="IDeveloperAppRepository" type="Portal.Domain.Repositories.IDeveloperAppRepository, Portal.Domain" />
  <alias alias="DeveloperAppRepository" type="Portal.Infrastructure.Data.MongoDB.Repository.DeveloperAppRepository, Portal.Infrastructure.Data.MongoDB.Repository" />

  <alias alias="IApiPermissionGroupRepository" type="Portal.Domain.Repositories.IApiPermissionGroupRepository, Portal.Domain" />
  <alias alias="ApiPermissionGroupRepository" type="Portal.Infrastructure.Data.MongoDB.Repository.ApiPermissionGroupRepository, Portal.Infrastructure.Data.MongoDB.Repository" />

  <alias alias="IDeveloperAppRepository" type="Portal.Domain.Repositories.IDeveloperAppRepository, Portal.Domain" />
  <alias alias="DeveloperAppRepository" type="Portal.Infrastructure.Data.MongoDB.Repository.DeveloperAppRepository, Portal.Infrastructure.Data.MongoDB.Repository" />

  <alias alias="ISysLoggerRepository" type="Portal.Domain.Repositories.ISysLoggerRepository, Portal.Domain" />
  <alias alias="SysLoggerRepository" type="Portal.Infrastructure.Data.MongoDB.Repository.SysLoggerRepository, Portal.Infrastructure.Data.MongoDB.Repository" />

  <!-- 领域服务-->
  <alias alias="ILoginService" type="Portal.Domain.Services.ILoginService, Portal.Domain" />
  <alias alias="LoginService" type="Portal.Domain.Services.Impl.LoginService, Portal.Domain" />

  <alias alias="ICustomerAuthorizationValidateService" type="Portal.Domain.Services.ICustomerAuthorizationValidateService, Portal.Domain" />
  <alias alias="CustomerAuthorizationValidateService" type="Portal.Domain.Services.Impl.CustomerAuthorizationValidateService, Portal.Domain" />

  <alias alias="IRequstAccessTokenValidateService" type="Portal.Domain.Services.IRequstAccessTokenValidateService, Portal.Domain" />
  <alias alias="RequstAccessTokenValidateService" type="Portal.Domain.Services.Impl.RequstAccessTokenValidateService, Portal.Domain" />

  <alias alias="IDirectGetAccessTokenValidateService" type="Portal.Domain.Services.IDirectGetAccessTokenValidateService, Portal.Domain" />
  <alias alias="DirectGetAccessTokenValidateService" type="Portal.Domain.Services.Impl.DirectGetAccessTokenValidateService, Portal.Domain" />

  <alias alias="IInteralApiUserTokenGenerateService" type="Portal.Domain.Services.IInteralApiUserTokenGenerateService, Portal.Domain" />
  <alias alias="InteralApiUserTokenGenerateService" type="Portal.Domain.Services.Impl.InteralApiUserTokenGenerateService, Portal.Domain" />

  <alias alias="IValidateTokenValidateService" type="Portal.Domain.Services.IValidateTokenValidateService, Portal.Domain" />
  <alias alias="ValidateTokenValidateService" type="Portal.Domain.Services.Impl.ValidateTokenValidateService, Portal.Domain" />

  <alias alias="ICustomerProviderService" type="Portal.Domain.Services.ICustomerProviderService, Portal.Domain" />
  <alias alias="CustomerProviderService" type="Portal.Yewu.CustomerProviderService, Portal.Yewu" />

  <!-- 领域事件-->
  <alias alias="IDomainEventHandler" type="Framework.Domain.Core.Events.IDomainEventHandler`1, Framework.Domain.Core" />

  <alias alias="ValidateApplicationExistsSameNameEvent" type="Portal.Domain.Aggregates.ApplictionAgg.Events.ValidateApplicationExistsSameNameEvent, Portal.Domain" />
  <alias alias="ValidateApplicationExistsSameNameEventHandler" type="Portal.Domain.Aggregates.ApplictionAgg.Events.Handlers.ValidateApplicationExistsSameNameEventHandler, Portal.Domain" />

  <alias alias="ValidateApplicationExistsSameEnNameEvent" type="Portal.Domain.Aggregates.ApplictionAgg.Events.ValidateApplicationExistsSameEnNameEvent, Portal.Domain" />
  <alias alias="ValidateApplicationExistsSameEnNameEventHandler" type="Portal.Domain.Aggregates.ApplictionAgg.Events.Handlers.ValidateApplicationExistsSameEnNameEventHandler, Portal.Domain" />


  <alias alias="ValidateApplicationExistsEvent" type="Portal.Domain.Aggregates.ApplictionAgg.Events.ValidateApplicationExistsEvent, Portal.Domain" />
  <alias alias="ValidateApplicationExistsEventHandler" type="Portal.Domain.Aggregates.ApplictionAgg.Events.Handlers.ValidateApplicationExistsEventHandler, Portal.Domain" />

  <alias alias="ValidateApplicationUrlEvent" type="Portal.Domain.Aggregates.ApplictionAgg.Events.ValidateApplicationUrlEvent, Portal.Domain" />
  <alias alias="ValidateApplicationUrlEventHandler" type="Portal.Domain.Aggregates.ApplictionAgg.Events.Handlers.ValidateApplicationUrlEventHandler, Portal.Domain" />

  <alias alias="ValidateMenuExistsParentIdEvent" type="Portal.Domain.Aggregates.MenuAgg.Events.ValidateMenuExistsParentIdEvent, Portal.Domain" />
  <alias alias="ValidateMenuExistsParentIdEventHandler" type="Portal.Domain.Aggregates.MenuAgg.Events.Handlers.ValidateMenuExistsParentIdEventHandler, Portal.Domain" />

  <alias alias="SetMenuUrlEvent" type="Portal.Domain.Aggregates.MenuAgg.Events.SetMenuUrlEvent, Portal.Domain" />
  <alias alias="SetMenuUrlEventHandler" type="Portal.Domain.Aggregates.MenuAgg.Events.Handlers.SetMenuUrlEventHandler, Portal.Domain" />

  <alias alias="MenuApplicationIdChangedEvent" type="Portal.Domain.Aggregates.MenuAgg.Events.MenuApplicationIdChangedEvent, Portal.Domain" />
  <alias alias="MenuApplicationIdChangedEventHandler" type="Portal.Domain.Aggregates.MenuAgg.Events.Handlers.MenuApplicationIdChangedEventHandler, Portal.Domain" />
  
  <alias alias="AddOrUpdateFunctionPermissionEvent" type="Portal.Domain.Aggregates.PermissionAgg.Events.AddOrUpdateFunctionPermissionEvent, Portal.Domain" />
  <alias alias="AddOrUpdateFunctionPermissionEventHandler" type="Portal.Domain.Aggregates.PermissionAgg.Events.Handlers.AddOrUpdateFunctionPermissionEventHandler, Portal.Domain" />

  <alias alias="ValidatePermissionExistsEvent" type="Portal.Domain.Aggregates.PermissionAgg.Events.ValidatePermissionExistsEvent, Portal.Domain" />
  <alias alias="ValidatePermissionExistsEventHandler" type="Portal.Domain.Aggregates.PermissionAgg.Events.Handlers.ValidatePermissionExistsEventHandler, Portal.Domain" />

  <alias alias="ValidatePermissionExistsSameNameEvent" type="Portal.Domain.Aggregates.PermissionAgg.Events.ValidatePermissionExistsSameNameEvent, Portal.Domain" />
  <alias alias="ValidatePermissionExistsSameNameEventHandler" type="Portal.Domain.Aggregates.PermissionAgg.Events.Handlers.ValidatePermissionExistsSameNameEventHandler, Portal.Domain" />


  <alias alias="ValidateRoleExistsEvent" type="Portal.Domain.Aggregates.RoleAgg.Events.ValidateRoleExistsEvent, Portal.Domain" />
  <alias alias="ValidateRoleExistsEventHandler" type="Portal.Domain.Aggregates.RoleAgg.Events.Handlers.ValidateRoleExistsEventHandler, Portal.Domain" />

  <alias alias="ValidateRoleExistsSameNameEvent" type="Portal.Domain.Aggregates.RoleAgg.Events.ValidateRoleExistsSameNameEvent, Portal.Domain" />
  <alias alias="ValidateRoleExistsSameNameEventHandler" type="Portal.Domain.Aggregates.RoleAgg.Events.Handlers.ValidateRoleExistsSameNameEventHandler, Portal.Domain" />

  <alias alias="ValidateUserExistsSameLoginNameEvent" type="Portal.Domain.Aggregates.UserAgg.Events.ValidateUserExistsSameLoginNameEvent, Portal.Domain" />
  <alias alias="ValidateUserExistsSameLoginNameEventHandler" type="Portal.Domain.Aggregates.UserAgg.Events.Handlers.ValidateUserExistsSameLoginNameEventHandler, Portal.Domain" />

  <alias alias="ValidateUserExistsSameEmployeeNoEvent" type="Portal.Domain.Aggregates.UserAgg.Events.ValidateUserExistsSameEmployeeNoEvent, Portal.Domain" />
  <alias alias="ValidateUserExistsSameEmployeeNoEventHandler" type="Portal.Domain.Aggregates.UserAgg.Events.Handlers.ValidateUserExistsSameEmployeeNoEventHandler, Portal.Domain" />

  <alias alias="ResetedPasswordEvent" type="Portal.Domain.Aggregates.UserAgg.Events.ResetedPasswordEvent, Portal.Domain" />
  <alias alias="ResetedPasswordEventHandler" type="Portal.Domain.Aggregates.UserAgg.Events.Handlers.ResetedPasswordEventHandler, Portal.Domain" />

  <alias alias="ValidateApiPermissionGroupExistsEvent" type="Portal.Domain.Aggregates.ApiPermissionGroupAgg.Events.ValidateApiPermissionGroupExistsEvent, Portal.Domain" />
  <alias alias="ValidateApiPermissionGroupExistsEventHandler" type="Portal.Domain.Aggregates.ApiPermissionGroupAgg.Events.Handlers.ValidateApiPermissionGroupExistsEventHandler, Portal.Domain" />

  <alias alias="ValidateApiPermissionGroupExistsSameNameEvent" type="Portal.Domain.Aggregates.ApiPermissionGroupAgg.Events.ValidateApiPermissionGroupExistsSameNameEvent, Portal.Domain" />
  <alias alias="ValidateApiPermissionGroupExistsSameNameEventHandler" type="Portal.Domain.Aggregates.ApiPermissionGroupAgg.Events.Handlers.ValidateApiPermissionGroupExistsSameNameEventHandler, Portal.Domain" />

  <alias alias="ValidateDeveloperAppExistsSameNameEvent" type="Portal.Domain.Aggregates.DeveloperAppAgg.Events.ValidateDeveloperAppExistsSameNameEvent, Portal.Domain" />
  <alias alias="ValidateDeveloperAppExistsSameNameEventHandler" type="Portal.Domain.Aggregates.DeveloperAppAgg.Events.Handlers.ValidateDeveloperAppExistsSameNameEventHandler, Portal.Domain" />

  <!-- 应用层服务-->
  <alias alias="IApplicationManagerService" type="Portal.Applications.Services.IApplicationManagerService, Portal.Applications" />
  <alias alias="ApplicationManagerService" type="Portal.Applications.Services.Impl.ApplicationManagerService, Portal.Applications" />

  <alias alias="IAuthorizationManagerService" type="Portal.Applications.Services.IAuthorizationManagerService, Portal.Applications" />
  <alias alias="AuthorizationManagerService" type="Portal.Applications.Services.Impl.AuthorizationManagerService, Portal.Applications" />

  <alias alias="ILoginMangerService" type="Portal.Applications.Services.ILoginMangerService, Portal.Applications" />
  <alias alias="LoginMangerService" type="Portal.Applications.Services.Impl.LoginMangerService, Portal.Applications" />

  <alias alias="IMenuManagerService" type="Portal.Applications.Services.IMenuManagerService, Portal.Applications" />
  <alias alias="MenuManagerService" type="Portal.Applications.Services.Impl.MenuManagerService, Portal.Applications" />

  <alias alias="IPermissionManagerService" type="Portal.Applications.Services.IPermissionManagerService, Portal.Applications" />
  <alias alias="PermissionManagerService" type="Portal.Applications.Services.Impl.PermissionManagerService, Portal.Applications" />

  <alias alias="IRoleManagerService" type="Portal.Applications.Services.IRoleManagerService, Portal.Applications" />
  <alias alias="RoleManagerService" type="Portal.Applications.Services.Impl.RoleManagerService, Portal.Applications" />

  <alias alias="IUserManagerService" type="Portal.Applications.Services.IUserManagerService, Portal.Applications" />
  <alias alias="UserManagerService" type="Portal.Applications.Services.Impl.UserManagerService, Portal.Applications" />

  <alias alias="IAuthorizationCodeManagerService" type="Portal.Applications.Services.IAuthorizationCodeManagerService, Portal.Applications" />
  <alias alias="AuthorizationCodeManagerService" type="Portal.Applications.Services.Impl.AuthorizationCodeManagerService, Portal.Applications" />

  <alias alias="ICustomerAuthorizationManagerService" type="Portal.Applications.Services.ICustomerAuthorizationManagerService, Portal.Applications" />
  <alias alias="CustomerAuthorizationManagerService" type="Portal.Applications.Services.Impl.CustomerAuthorizationManagerService, Portal.Applications" />

  <alias alias="IDeveloperAppManagerService" type="Portal.Applications.Services.IDeveloperAppManagerService, Portal.Applications" />
  <alias alias="DeveloperAppManagerService" type="Portal.Applications.Services.Impl.DeveloperAppManagerService, Portal.Applications" />

  <alias alias="ITokenManagerService" type="Portal.Applications.Services.ITokenManagerService, Portal.Applications" />
  <alias alias="TokenManagerService" type="Portal.Applications.Services.Impl.TokenManagerService, Portal.Applications" />

  <alias alias="IApiPermissionGroupManagerService" type="Portal.Applications.Services.IApiPermissionGroupManagerService, Portal.Applications" />
  <alias alias="ApiPermissionGroupManagerService" type="Portal.Applications.Services.Impl.ApiPermissionGroupManagerService, Portal.Applications" />

  <alias alias="IDeveloperAppManagerService" type="Portal.Applications.Services.IDeveloperAppManagerService, Portal.Applications" />
  <alias alias="DeveloperAppManagerService" type="Portal.Applications.Services.Impl.DeveloperAppManagerService, Portal.Applications" />

  <alias alias="ISysLoggerManagerService" type="Portal.Applications.Services.ISysLoggerManagerService, Portal.Applications" />
  <alias alias="SysLoggerManagerService" type="Portal.Applications.Services.Impl.SysLoggerManagerService, Portal.Applications" />

  <!--应用层事件-->
  <alias alias="ImportUserRoleCheckEvent" type="Portal.Applications.Events.ImportUserRoleCheckEvent, Portal.Applications" />
  <alias alias="ImportUserRoleCheckEventHandler" type="Portal.Applications.Events.Handler.ImportUserRoleCheckEventHandler, Portal.Applications" />
  
  <alias alias="ImportUserPermissionCheckEvent" type="Portal.Applications.Events.ImportUserPermissionCheckEvent, Portal.Applications" />
  <alias alias="ImportUserPermissionCheckEventHandler" type="Portal.Applications.Events.Handler.ImportUserPermissionCheckEventHandler, Portal.Applications" />

  <alias alias="ImportCustomerRoleCheckEvent" type="Portal.Applications.Events.ImportCustomerRoleCheckEvent, Portal.Applications" />
  <alias alias="ImportCustomerRoleCheckEventHandler" type="Portal.Applications.Events.Handler.ImportCustomerRoleCheckEventHandler, Portal.Applications" />

  <alias alias="ImportCustomerPermissionCheckEvent" type="Portal.Applications.Events.ImportCustomerPermissionCheckEvent, Portal.Applications" />
  <alias alias="ImportCustomerPermissionCheckEventHandler" type="Portal.Applications.Events.Handler.ImportCustomerPermissionCheckEventHandler, Portal.Applications" />
  
  <alias alias="ImportRoleCheckEvent" type="Portal.Applications.Events.ImportRoleCheckEvent, Portal.Applications" />
  <alias alias="ImportRoleCheckEventHandler" type="Portal.Applications.Events.Handler.ImportRoleCheckEventHandler, Portal.Applications" />

  <alias alias="ImportRolePermissionCheckEvent" type="Portal.Applications.Events.ImportRolePermissionCheckEvent, Portal.Applications" />
  <alias alias="ImportRolePermissionCheckEventHandler" type="Portal.Applications.Events.Handler.ImportRolePermissionCheckEventHandler, Portal.Applications" />

  <alias alias="ImportMenuCheckEvent" type="Portal.Applications.Events.ImportMenuCheckEvent, Portal.Applications" />
  <alias alias="ImportMenuCheckEventHandler" type="Portal.Applications.Events.Handler.ImportMenuCheckEventHandler, Portal.Applications" />
  
  <alias alias="ImportPermissionCheckEvent" type="Portal.Applications.Events.ImportPermissionCheckEvent, Portal.Applications" />
  <alias alias="ImportPermissionCheckEventHandler" type="Portal.Applications.Events.Handler.ImportPermissionCheckEventHandler, Portal.Applications" />


  <!-- 策略 -->
  <alias alias="ITokenDeserializeStrategy" type="Portal.Domain.Model.Strategies.ITokenDeserializeStrategy, Portal.Domain" />
  <alias alias="TokenDeserializeStrategy" type="Portal.Domain.Model.Strategies.TokenDeserializeStrategy, Portal.Domain" />

  <alias alias="ITokenGenerateStrategy" type="Portal.Domain.Model.Strategies.ITokenGenerateStrategy, Portal.Domain" />
  <alias alias="TokenGenerateStrategy" type="Portal.Domain.Model.Strategies.TokenGenerateStrategy, Portal.Domain" />

  <alias alias="IPasswordEncryptStrategy" type="Portal.Domain.Aggregates.UserAgg.Strategies.IPasswordEncryptStrategy, Portal.Domain" />
  <alias alias="PasswordEncryptStrategy" type="Portal.Domain.Aggregates.UserAgg.Strategies.PasswordEncryptStrategy, Portal.Domain" />

  <alias alias="IAuthenticateTicketGenerateStategy" type="Portal.Domain.Aggregates.DeveloperAppAgg.Strategies.IAuthenticateTicketGenerateStategy, Portal.Domain" />
  <alias alias="AuthenticateTicketGenerateStategy" type="Portal.Domain.Aggregates.DeveloperAppAgg.Strategies.AuthenticateTicketGenerateStategy, Portal.Domain" />

  <alias alias="ICodeGenreateStrategy" type="Portal.Domain.Aggregates.AuthorizationCodeAgg.Strategies.ICodeGenreateStrategy, Portal.Domain" />
  <alias alias="CodeGenreateStrategy" type="Portal.Domain.Aggregates.AuthorizationCodeAgg.Strategies.CodeGenreateStrategy, Portal.Domain" />

  <alias alias="IAccessTokenValueGenerateStrategy" type="Portal.Domain.Aggregates.TokenWrapperAgg.Strategies.IAccessTokenValueGenerateStrategy, Portal.Domain" />
  <alias alias="AccessTokenValueGenerateStrategy" type="Portal.Domain.Aggregates.TokenWrapperAgg.Strategies.AccessTokenValueGenerateStrategy, Portal.Domain" />

  <alias alias="IRefreshTokenValueGenerateStrategy" type="Portal.Domain.Aggregates.TokenWrapperAgg.Strategies.IRefreshTokenValueGenerateStrategy, Portal.Domain" />
  <alias alias="RefreshTokenValueGenerateStrategy" type="Portal.Domain.Aggregates.TokenWrapperAgg.Strategies.RefreshTokenValueGenerateStrategy, Portal.Domain" />

  <container>

    <register type="IJson" mapTo="ServiceStackTextJson">
      <lifetime type="singleton" />
    </register>

    <register type="ILog" mapTo="Log4NetLog">
      <lifetime type="singleton" />
    </register>

    <register type="ICache" mapTo="MemcachedCache">
      <lifetime type="singleton" />
    </register>


    <register type="ITypeAdapter" mapTo="AutomapperTypeAdapter">
      <lifetime type="singleton" />
    </register>

    <register type="IEventBus" mapTo="DefaultEventBus">
      <lifetime type="request" />
    </register>

    <register type="IMapping" mapTo="Mapping">
      <lifetime type="singleton" />
    </register>

    <register name="ResetedPasswordSendEmailHandler" type="Framework.Infrastructure.Crosscutting.Events.IEventHandler`1[[Portal.Domain.Aggregates.UserAgg.Events.ResetedPasswordEvent, Portal.Domain]], Framework.Infrastructure.Crosscutting" mapTo="Portal.Applications.Events.Handler.ResetedPasswordSendEmailHandler, Portal.Applications" />

    <register name="SynchronizationEventHandleForNewPermissionCreatedEvent"
              type="Framework.Infrastructure.Crosscutting.Events.IEventHandler`1[[Portal.Applications.Events.NewPermissionCreatedEvent, Portal.Applications]], Framework.Infrastructure.Crosscutting"
              mapTo="Portal.Applications.Events.Handler.SynchronizationEventHandle, Portal.Applications" />

    <register name="SynchronizationEventHandleForUserInfoChangedEvent"
              type="Framework.Infrastructure.Crosscutting.Events.IEventHandler`1[[Portal.Applications.Events.UserInfoChangedEvent, Portal.Applications]], Framework.Infrastructure.Crosscutting"
              mapTo="Portal.Applications.Events.Handler.SynchronizationEventHandle, Portal.Applications" />

    <register name="SynchronizationEventHandleForUserPermissionChangedEvent"
              type="Framework.Infrastructure.Crosscutting.Events.IEventHandler`1[[Portal.Applications.Events.UserPermissionChangedEvent, Portal.Applications]], Framework.Infrastructure.Crosscutting"
              mapTo="Portal.Applications.Events.Handler.SynchronizationEventHandle, Portal.Applications" />

    <register name="InternalApiUserPermssionResetEventHandle"
              type="Framework.Infrastructure.Crosscutting.Events.IEventHandler`1[[Portal.Applications.Events.InternalApiUserPermssionResetEvent, Portal.Applications]], Framework.Infrastructure.Crosscutting"
              mapTo="Portal.Applications.Events.Handler.InternalApiUserPermssionResetEventHandle, Portal.Applications" />

    <!--Event Aggregator-->
    <register type="IEventAggregator" mapTo="EventAggregator">
      <constructor>
        <param name="handlers">
          <array>
            <dependency name="ResetedPasswordSendEmailHandler" type="Framework.Infrastructure.Crosscutting.Events.IEventHandler`1[[Portal.Domain.Aggregates.UserAgg.Events.ResetedPasswordEvent, Portal.Domain]], Framework.Infrastructure.Crosscutting" />
            <dependency name="SynchronizationEventHandleForNewPermissionCreatedEvent" type="Framework.Infrastructure.Crosscutting.Events.IEventHandler`1[[Portal.Applications.Events.NewPermissionCreatedEvent, Portal.Applications]], Framework.Infrastructure.Crosscutting" />
            <dependency name="SynchronizationEventHandleForUserInfoChangedEvent" type="Framework.Infrastructure.Crosscutting.Events.IEventHandler`1[[Portal.Applications.Events.UserInfoChangedEvent, Portal.Applications]], Framework.Infrastructure.Crosscutting" />
            <dependency name="SynchronizationEventHandleForUserPermissionChangedEvent" type="Framework.Infrastructure.Crosscutting.Events.IEventHandler`1[[Portal.Applications.Events.UserPermissionChangedEvent, Portal.Applications]], Framework.Infrastructure.Crosscutting" />
            <dependency name="InternalApiUserPermssionResetEventHandle" type="Framework.Infrastructure.Crosscutting.Events.IEventHandler`1[[Portal.Applications.Events.InternalApiUserPermssionResetEvent, Portal.Applications]], Framework.Infrastructure.Crosscutting" />
          </array>
        </param>
      </constructor>
    </register>

    <register type="IIdentityGenerator" mapTo="MongoDBStringObjectIdGenerator">
      <lifetime type="singleton" />
    </register>
    <register type="IRepositoryContext" mapTo="MongoDBRepositoryContext">
      <lifetime type="request" />
      <constructor>
        <param name="name" value="PortalDB">
        </param>
      </constructor>
    </register>
    <register type="IMongoDBRepositoryContext" mapTo="MongoDBRepositoryContext">
      <lifetime type="request" />
      <constructor>
        <param name="name" value="PortalDB">
        </param>
      </constructor>
    </register>

    <!--仓储 repository-->
    <register type="IApplicationRepository" mapTo="ApplicationRepository">
      <lifetime type="request" />
    </register>

    <register type="IApiUserRepository" mapTo="ApiUserRepository">
      <lifetime type="request" />
    </register>

    <register type="IMenuRepository" mapTo="MenuRepository">
      <lifetime type="request" />
    </register>

    <register type="IPermissionRepository" mapTo="PermissionRepository">
      <lifetime type="request" />
    </register>

    <register type="IRoleRepository" mapTo="RoleRepository">
      <lifetime type="request" />
    </register>

    <register type="IUserRepository" mapTo="UserRepository">
      <lifetime type="request" />
    </register>

    <register type="ISynchronizationInfoRepository" mapTo="SynchronizationInfoRepository">
      <lifetime type="request" />
    </register>

    <register type="ITokenWrapperRepository" mapTo="TokenWrapperRepository">
      <lifetime type="request" />
    </register>

    <register type="IAuthorizationCodeRepository" mapTo="AuthorizationCodeRepository">
      <lifetime type="request" />
    </register>

    <register type="IDeveloperAppRepository" mapTo="DeveloperAppRepository">
      <lifetime type="request" />
    </register>

    <register type="IApiPermissionGroupRepository" mapTo="ApiPermissionGroupRepository">
      <lifetime type="request" />
    </register>
    
     <register type="IDeveloperAppRepository" mapTo="DeveloperAppRepository">
      <lifetime type="request" />
    </register>

    <register type="ISysLoggerRepository" mapTo="SysLoggerRepository">
      <lifetime type="request" />
    </register>
    
    <!--领域服务 domain service-->
    <register type="ILoginService" mapTo="LoginService" >
      <lifetime type="request" />
    </register>
    <register type="ICustomerAuthorizationValidateService" mapTo="CustomerAuthorizationValidateService" >
      <lifetime type="request" />
    </register>
    <register type="IRequstAccessTokenValidateService" mapTo="RequstAccessTokenValidateService" >
      <lifetime type="request" />
    </register>
    <register type="IDirectGetAccessTokenValidateService" mapTo="DirectGetAccessTokenValidateService" >
      <lifetime type="request" />
    </register>
    <register type="ICustomerProviderService" mapTo="CustomerProviderService" >
      <lifetime type="request" />
    </register>
    <register type="IInteralApiUserTokenGenerateService" mapTo="InteralApiUserTokenGenerateService" >
      <lifetime type="request" />
    </register>
    <register type="IValidateTokenValidateService" mapTo="ValidateTokenValidateService" >
      <lifetime type="request" />
    </register>
    
    <!--应用层服务 app service-->
    <register type="IApplicationManagerService" mapTo="ApplicationManagerService" >
      <lifetime type="request" />
    </register>
    <register type="IAuthorizationManagerService" mapTo="AuthorizationManagerService" >
      <lifetime type="request" />
    </register>
    <register type="ILoginMangerService" mapTo="LoginMangerService" >
      <lifetime type="request" />
    </register>
    <register type="IMenuManagerService" mapTo="MenuManagerService" >
      <lifetime type="request" />
    </register>
    <register type="IPermissionManagerService" mapTo="PermissionManagerService" >
      <lifetime type="request" />
    </register>
    <register type="IRoleManagerService" mapTo="RoleManagerService" >
      <lifetime type="request" />
    </register>
    <register type="IUserManagerService" mapTo="UserManagerService" >
      <lifetime type="request" />
    </register>
    <register type="IAuthorizationCodeManagerService" mapTo="AuthorizationCodeManagerService" >
      <lifetime type="request" />
    </register>
    <register type="ICustomerAuthorizationManagerService" mapTo="CustomerAuthorizationManagerService" >
      <lifetime type="request" />
    </register>
    <register type="IDeveloperAppManagerService" mapTo="DeveloperAppManagerService" >
      <lifetime type="request" />
    </register>
    <register type="ITokenManagerService" mapTo="TokenManagerService" >
      <lifetime type="request" />
    </register>
    <register type="IApiPermissionGroupManagerService" mapTo="ApiPermissionGroupManagerService" >
      <lifetime type="request" />
    </register>
    <register type="IDeveloperAppManagerService" mapTo="DeveloperAppManagerService" >
      <lifetime type="request" />
    </register>
    <register type="ISysLoggerManagerService" mapTo="SysLoggerManagerService" >
      <lifetime type="request" />
    </register>
    <!--领域层策略-->
    <register type="ITokenDeserializeStrategy" mapTo="TokenDeserializeStrategy" >
      <lifetime type="request"/>
    </register>
    <register type="ITokenGenerateStrategy" mapTo="TokenGenerateStrategy" >
      <lifetime type="request"/>
    </register>
    <register type="IPasswordEncryptStrategy" mapTo="PasswordEncryptStrategy" >
      <lifetime type="request"/>
    </register>
    <register type="IAuthenticateTicketGenerateStategy" mapTo="AuthenticateTicketGenerateStategy" >
      <lifetime type="request"/>
    </register>
    <register type="ICodeGenreateStrategy" mapTo="CodeGenreateStrategy" >
      <lifetime type="request"/>
    </register>
    <register type="IAccessTokenValueGenerateStrategy" mapTo="AccessTokenValueGenerateStrategy" >
      <lifetime type="request"/>
    </register>
    <register type="IRefreshTokenValueGenerateStrategy" mapTo="RefreshTokenValueGenerateStrategy" >
      <lifetime type="request"/>
    </register>
    

    <!--Domain Event Handlers-->
    <register type="IDomainEventHandler[ValidateApplicationExistsSameNameEvent]" mapTo="ValidateApplicationExistsSameNameEventHandler" name="ValidateApplicationExistsSameNameEventHandler"/>
    <register type="IDomainEventHandler[ValidateApplicationExistsSameEnNameEvent]" mapTo="ValidateApplicationExistsSameEnNameEventHandler" name="ValidateApplicationExistsSameEnNameEventHandler"/>
    <register type="IDomainEventHandler[ValidateApplicationExistsEvent]" mapTo="ValidateApplicationExistsEventHandler" name="ValidateApplicationExistsEventHandler"/>
    <register type="IDomainEventHandler[ValidateApplicationUrlEvent]" mapTo="ValidateApplicationUrlEventHandler" name="ValidateApplicationUrlEventHandler"/>
    <register type="IDomainEventHandler[ValidateMenuExistsParentIdEvent]" mapTo="ValidateMenuExistsParentIdEventHandler" name="ValidateMenuExistsParentIdEventHandler"/>
    <register type="IDomainEventHandler[SetMenuUrlEvent]" mapTo="SetMenuUrlEventHandler" name="SetMenuUrlEventHandler"/>
    <register type="IDomainEventHandler[MenuApplicationIdChangedEvent]" mapTo="MenuApplicationIdChangedEventHandler" name="MenuApplicationIdChangedEventHandler"/>
    <register type="IDomainEventHandler[AddOrUpdateFunctionPermissionEvent]" mapTo="AddOrUpdateFunctionPermissionEventHandler" name="AddOrUpdateFunctionPermissionEventHandler"/>
    <register type="IDomainEventHandler[ValidatePermissionExistsEvent]" mapTo="ValidatePermissionExistsEventHandler" name="ValidatePermissionExistsEventHandler"/>
    <register type="IDomainEventHandler[ValidatePermissionExistsSameNameEvent]" mapTo="ValidatePermissionExistsSameNameEventHandler" name="ValidatePermissionExistsSameNameEventHandler"/>
    <register type="IDomainEventHandler[ValidateRoleExistsEvent]" mapTo="ValidateRoleExistsEventHandler" name="ValidateRoleExistsEventHandler"/>
    <register type="IDomainEventHandler[ValidateRoleExistsSameNameEvent]" mapTo="ValidateRoleExistsSameNameEventHandler" name="ValidateRoleExistsSameNameEventHandler"/>
    <register type="IDomainEventHandler[ValidateUserExistsSameLoginNameEvent]" mapTo="ValidateUserExistsSameLoginNameEventHandler" name="ValidateUserExistsSameLoginNameEventHandler"/>
    <register type="IDomainEventHandler[ResetedPasswordEvent]" mapTo="ResetedPasswordEventHandler" name="ResetedPasswordEventHandler"/>
    <register type="IDomainEventHandler[ValidateUserExistsSameEmployeeNoEvent]" mapTo="ValidateUserExistsSameEmployeeNoEventHandler" name="ValidateUserExistsSameEmployeeNoEventHandler"/>
    <register type="IDomainEventHandler[ValidateApiPermissionGroupExistsEvent]" mapTo="ValidateApiPermissionGroupExistsEventHandler" name="ValidateApiPermissionGroupExistsEventHandler"/>
    <register type="IDomainEventHandler[ValidateApiPermissionGroupExistsSameNameEvent]" mapTo="ValidateApiPermissionGroupExistsSameNameEventHandler" name="ValidateApiPermissionGroupExistsSameNameEventHandler"/>
    <register type="IDomainEventHandler[ValidateDeveloperAppExistsSameNameEvent]" mapTo="ValidateDeveloperAppExistsSameNameEventHandler" name="ValidateDeveloperAppExistsSameNameEventHandler"/>
    <!--Applications Event Handlers-->
    <register type="IDomainEventHandler[ImportUserRoleCheckEvent]" mapTo="ImportUserRoleCheckEventHandler" name="ImportUserRoleCheckEventHandler"/>
    <register type="IDomainEventHandler[ImportUserPermissionCheckEvent]" mapTo="ImportUserPermissionCheckEventHandler" name="ImportUserPermissionCheckEventHandler"/>
    <register type="IDomainEventHandler[ImportCustomerRoleCheckEvent]" mapTo="ImportCustomerRoleCheckEventHandler" name="ImportCustomerRoleCheckEventHandler"/>
    <register type="IDomainEventHandler[ImportCustomerPermissionCheckEvent]" mapTo="ImportCustomerPermissionCheckEventHandler" name="ImportCustomerPermissionCheckEventHandler"/>
    <register type="IDomainEventHandler[ImportRoleCheckEvent]" mapTo="ImportRoleCheckEventHandler" name="ImportRoleCheckEventHandler"/>
    <register type="IDomainEventHandler[ImportRolePermissionCheckEvent]" mapTo="ImportRolePermissionCheckEventHandler" name="ImportRolePermissionCheckEventHandler"/>
    <register type="IDomainEventHandler[ImportMenuCheckEvent]" mapTo="ImportMenuCheckEventHandler" name="ImportMenuCheckEventHandler"/>
    <register type="IDomainEventHandler[ImportPermissionCheckEvent]" mapTo="ImportPermissionCheckEventHandler" name="ImportPermissionCheckEventHandler"/>
  </container>
</unity>