<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!--Portal验证配置-->
    <sectionGroup name="PortalAuthentication" type="Portal.SDK.Security.Configuration.PortalAuthentication, Portal.SDK">
      <section name="Authentication" type="Portal.SDK.Security.Configuration.AuthenticationBase, Portal.SDK" />
      <section name="CacheProviders" type="Portal.SDK.Security.Configuration.CacheProviders, Portal.SDK" />
    </sectionGroup>
  </configSections>
  <PortalAuthentication>
    <Authentication application="TestPortal" authCookieName="" authCookieDomain="" loginUrl="http://portal.test-ck1.cn/account/login" cacheExpiredTime="40" cacheName="" />
    <CacheProviders>
      <!--<add name="InMemoryCache" type="Portal.SDK.Cache.InMemoryCache, Portal.SDK" />-->
    </CacheProviders>
  </PortalAuthentication>
  <appSettings>
    <add key="CK1PortalAuthenticationEnable" value="true" />
    <add key="PortalWebApiBaseAddress" value="http://portal.test-ck1.cn/" />
    <add key="PortalOpenApiOauth2BaseAddress" value="http://portal.test-ck1.cn/" />
    <add key="IsFixedRedirectForPortal" value="true" />
    <add key="FixedRedirectForPortal" value="http://financial.local-ck1.cn/"/>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
      <add name="CK1PortalAuthenticationModule" type="Portal.SDK.Security.CK1PortalAuthenticationModule, Portal.SDK" />
    </modules>
  </system.webServer>
</configuration>
