@using Portal.Client.Core
@{
    Layout = PageUtility.GetOpenLayout;
}
<div class="inner">
    <h1>开发者使用流程</h1>
    <h2>申请ABC APIKey</h2>
    <p>为了保护ABC用户的数据，防止API被滥用或恶意使用，ABC要求每个API的使用者申请一个API Key，而每个API Key唯一标识一个API使用者。你可以在<a title="申请页面" href="http://developers.douban.com/apikey/apply">申请页面</a>创建一个新应用，填写必要信息后提交，就能得到你的API Key。</p>
    <ul>
        <li>
            <p>申请页面如下图：</p>
            <p><img alt="apikey 申请页面" src="http://img3.douban.com/img/developers/tutorial_apikey_apply_page.png-1342756862.jpg"></p>
        </li>
        <li>
            <p>提交之后，如下图：</p>
            <p><img alt="apikey页面" src="http://img3.doubanio.com/img/developers/tutorial_apikey_view_page.png-1342757058.jpg"></p>
            <h2>添加测试用户</h2>
        </li>
        <li>
            <p>申请了新的 APIKey 时候，该 App 处于“开发中”状态，为了方便开发者，处于“开发中”状态的 App，默认拥有ABC所有的 API 访问权限，不过该 App 仅对于开发者指定为测试用户的 ID 开放。开发者可以在 APIKey 的详情页面添加测试用户。</p>
            <p><img alt="测试用户" src="http://img3.douban.com/img/developers/tutorial_apikey_test_user.png-1342757195.jpg"></p>
        </li>
        <li>如果等到APP开发完毕之后，需要对全部用户开放时，那么需要选择具体的访问权限，并提交ABC管理员进行审核。</li>
    </ul>
    <h2>申请API访问权限</h2>
    <p>本着为了保护ABC用户的数据，ABC将api按照产品进行了划分，你可以申请其中的一个或者多个产品线（建议按需申请^^），目前API产品线列表如下:</p>
    <p><img alt="选择权限" src="http://img3.doubanio.com/img/developers/tutorial_apikey_scope_select.png-1342757317.jpg"></p>
    <h2>注意事项</h2>
    <ol>
        <li>当每次变更APIKEY的api权限或者其他属性后，请记得提交审核，需要等待ABC管理员审核之后才能生效，在审核通过之前，仍然使用旧的权限和属性。</li>
    </ol>
</div>