<!-- 注销 -->
@using Portal.Client.Core
@{
    Layout = PageUtility.GetOpenLayout;
}
<div class="inner">
    <h1>如何注销</h1>
    <p>操作步骤如下：</p>
    <p>
        1.<a target="_blank" href="@Url.Content("~/Account/Login")">登录</a>【@(PageUtility.ProjectName)】；
    </p>
    <p>2.点击右上角<a href="#">【注销】</a>按钮。</p>
</div>