<!-- 创建账号 -->
@using Portal.Client.Core
@{
    Layout = PageUtility.GetOpenLayout;
}
<div class="inner">
    <h1>如何创建账号</h1>
    <p>操作步骤如下（共3步）：</p>
    <p>1.进入<a target="_blank" href="@Url.Content("~/Home/Index")">【@(PageUtility.ProjectName)】</a>首页，点击【注册】进入【<a target="_blank" href="@Url.Content("~/User/Create")">用户注册</a>】页面；</p>
    <p>2.填写注册表单：</p>
    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr><td style="width: 85px;"><em>参数名称</em></td><td class="textLeft"><em>参数说明</em></td></tr>
            <tr><td>用户名</td><td class="textLeft">必选参数，用户名长度不能超过50个字符</td></tr>
            <tr><td>密码</td><td class="textLeft">必选参数，密码只允许输入字母、数字、下划线；密码的字符长度不能小于6位且不能超过50位</td></tr>
            <tr><td>确认密码</td><td class="textLeft">必选参数，确认密码只允许输入字母、数字、下划线；确认密码的字符长度不能小于6位且不能超过50位；确认密码必须与密码一致</td></tr>
            <tr><td>邮箱</td><td class="textLeft">必选参数，请填写正确的邮箱，以便我们与您联系</td></tr>
            <tr><td>手机号码</td><td class="textLeft">必选参数，请填写正确的手机号码，以便我们与您联系</td></tr>
            <tr><td>验证码</td><td class="textLeft">必选参数</td></tr>
            <tr><td>协议</td><td class="textLeft">必选参数，请勾选“我已认真阅读并同意出口易开发者协议”</td></tr>
        </tbody>
    </table>
    <p>3.完成后点击【确认注册】，即可完成注册。 </p>
</div>

