<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <!--Portal验证配置-->
    <sectionGroup name="PortalAuthentication" type="Portal.SDK.Security.Configuration.PortalAuthentication, Portal.SDK">
      <section name="Authentication" type="Portal.SDK.Security.Configuration.AuthenticationBase, Portal.SDK" />
      <section name="CacheProviders" type="Portal.SDK.Security.Configuration.CacheProviders, Portal.SDK" />
    </sectionGroup>
  </configSections>
  <PortalAuthentication>
    <Authentication application="OAuth2" authCookieName="" authCookieDomain="test-ck1.cn" loginUrl="http://login.test-ck1.cn/account/login" cacheExpiredTime="40" cacheName="" />
    <CacheProviders>
      <!--<add name="InMemoryCache" type="Portal.SDK.Cache.InMemoryCache, Portal.SDK" />-->
    </CacheProviders>
  </PortalAuthentication>
  <unity configSource="Config\unity.config" />
  <connectionStrings>
    <add name="PortalDB" connectionString="mongodb://ismc-mongodb-master.abc.cn:27017/portaldb-test" />
    <add name="YewuDB" connectionString="server=db.abc.cn;uid=store;pwd=BFE.dev.2011;database=store_xinye20120921;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PortalWebApiBaseAddress" value="http://portal.test-ck1.cn/" />
    <add key="CK1PortalAuthenticationEnable" value="true" />
    <!--授码过期分钟数-->
    <add key="AuthorizationCodeExpiredTime" value="30" />
    <!--回调地址是否https-->
    <add key="CallbackUrlSecureHttps" value="false" />
    <!--出错页面配置-->
    <add key="NoPermissionPage" value="/Control/UnPermission" />
    <add key="NotFoundPage" value="/Control/NotFound" />
    <add key="ErrorPage" value="/Control/ServerError" />
    <add key="ExternalNoPermissionPage" value="/Control/ExternalUnPermission" />
    <add key="ExternalActionNames" value="UserPermissionSettingExternal" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="On" defaultRedirect="~/Control/ServerError">
      <error statusCode="403" redirect="~/Control/UnPermission" />
      <error statusCode="404" redirect="~/Control/NotFound" />
      <error statusCode="500" redirect="~/Control/ServerError" />
    </customErrors>
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>     
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="WebDAVModule" />
      <add name="CK1PortalAuthenticationModule" type="Portal.SDK.Security.CK1PortalAuthenticationModule, Portal.SDK" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>