@model HandleErrorInfo
@using Portal.Web.Admin.Core
@{
    ViewBag.Title = PageUtility.GetMenuName(ViewContext.RouteData, "异常提醒");
    Layout = PageUtility.GetLayout;
}
<div class="span12 div500">
    &nbsp;
</div>
<div class="clearfix">&nbsp;</div>
<div class="span11 text-center">
    @if (Model != null)
    {
        <h5>错误明细：<font id="errorMsg">@Model.Exception.Message</font></h5>
    }
    <h4>
        您可以回到<a href="@Url.Content("~/Home/Index2")" id="href1">
            网站首页
        </a>
    </h4>
    <h5>系统将会在<strong id="endtime"></strong>秒后跳转到首页！</h5>
</div>
<script type="text/javascript">
    var i = 10;
    function remainTime() {
        if (i <= 0) {
            location.href = $("#href1").attr("href");
        } else {
            document.getElementById('endtime').innerHTML = i--;
            setTimeout("remainTime()", 1000);
        }
    }
    remainTime();
</script>