<footer>
    <nav class="container">
        <ul>
            <li>
                <a href="http://www.abc.com/" target="_blank">首页</a>
            </li>
            <li>
                <a href="http://www.abc.com/m2c_mall.aspx" target="_blank">M2C商城</a>
            </li>
            <li>
                <a href="http://www.abc.com/Logistics.aspx?page=海外仓储概述" target="_blank">物流服务</a>
            </li>
            <li>
                <a href="http://www.abc.com/Value-added.aspx" target="_blank">增值服务</a>
            </li>
            <li>
                <a href="http://www.abc.com/News/Announcement.aspx" target="_blank">资讯中心</a>
            </li>
            <li>
                <a href="http://www.abc.com/Help/Help_Questions.aspx" target="_blank">帮助中心</a>
            </li>
            <li>
                <a href="http://www.abc.com/About/Ck1.aspx" target="_blank">关于我们</a>
            </li>
        </ul>
    </nav>
    <p>
        © @DateTime.Now.Year BFE. All rights reserved. 粤ICP备09067080号
        <br>
        总部地址：广州市天河区黄埔大道西163号富星大厦东塔6楼
    </p>
    <p style="color:#ccc">
        版本号：@Html.Action("GetDeployVersionString","Helpers")
    </p>
</footer>